<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bulma-0.6.1/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/chartist-js-0.11.0/chartist.css') }}">

    <script defer src="{{ url_for('static', filename='assets/vendor/chartist-js-0.11.0/chartist.js') }}"></script>
    <script defer src="{{ url_for('static', filename='assets/vendor/moment/moment-with-locales.js') }}"></script>
    {% endblock %}
</head>
<body>
    <div id="conteudo">{% block conteudo %}{% endblock %}</div>
</body>
</html>
