{% extends "base.html" %}
{% block title %}Black Friday 2017{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/main.css') }}">
    <script defer src="{{ url_for('static', filename='assets/main.js') }}"></script>
{% endblock %}


{% macro media_promocao(promo) -%}
<div class="box">
  <article class="media">
    <figure class="media-left">
      <p class="image is-96x96 is-square">
        <img src="{{ promo.link_imagem }}">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><a href="{{ promo.link }}">{{ promo.titulo }}</a></strong>
          <br>
          Postada por {{ promo.usuario.nome }}<br>
          {{ promo.data_publicacao|format_datetime(format="short", locale="pt_BR") }}
        </p>
      </div>
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <span class="tag is-marginless is-dark">
              {{ promo.n_comentarios }}&nbsp;<span class="icon is-size-6 is-medium">&#128172;</span>
            </span>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <span class="tags has-addons">
              <span class="tag is-link">{{ promo.loja.nome }}</span>
              {% if promo.preco is not none %}
                <span class="tag is-medium">{{ promo.preco|formatar_preco }}</span>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
{%- endmacro %}

{% block conteudo %}
<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Black Friday 2017
      </h1>
      <h2 class="subtitle is-4">
        Dados de promoções postadas no <strong><a href="https://gatry.com">Gatry.com.</a></strong><br>
        Processados em <strong><a href="https://www.python.org/">Python</a></strong> e armazenados em um banco de dados <strong><a href="https://postgresql.org/">PostgreSQL</a>.</strong><br>
        Modelos disponibilizados em uma API baseada em <strong><a href="https://pt.wikipedia.org/wiki/REST">REST</a></strong> e visualizados com <strong><a href="https://gionkunz.github.io/chartist-js/">Chartist.js</a></strong>.
      </h2>
    </div>
  </div>
</section>
<section class="section is-medium">
  <div class="container">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading is-size-5">Preço total</p>
          <p class="title">{{ preco_total|formatar_preco }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading is-size-5">Promoções publicadas</p>
          <p class="title">{{ "{:,d}".format(n_promocoes) }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading is-size-5">Lojas</p>
          <p class="title">{{ "{:,d}".format(n_lojas) }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading is-size-5">Preço médio</p>
          <p class="title">{{ preco_medio|formatar_preco }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section preco-cumulativo">
  <div class="container">
    <h1 class="title">Preço cumulativo</h1>
    <div class="content">
      <div id="grafico-preco-cumulativo" class="ct-chart ct-major-eleventh"></div>
    </div>
  </div>
</section>
<section class="section promocoes-por-loja">
  <div class="container">
    <h1 class="title">Promoções por loja <small class="is-small">(top 10)</small></h1>
    <div class="content">
      <div id="grafico-promocoes-por-loja" class="ct-chart ct-major-eleventh"></div>
    </div>
  </div>
</section>
<section class="section palavras-mais-usadas">
  <div class="container">
    <h1 class="title">Palavras mais usadas <small class="is-small">(top 10)</small></h1>
    <div class="content">
      <div id="grafico-palavras-mais-usadas" class="ct-chart ct-major-eleventh"></div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child">
            <h1 class="title">Itens mais caros</h1>
            <div class="columns is-multiline flex is-vcentered">
              {% for promocao in itens_caros %}
              <div class="column">{{ media_promocao(promocao) }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child">
            <h1 class="title">Itens mais baratos</h1>
            <div class="columns is-multiline flex is-vcentered">
              {% for promocao in itens_baratos %}
              <div class="column">{{ media_promocao(promocao) }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="content">
        <h1 class="title">Itens mais comentados</h1>
        <div class="columns is-multiline flex is-vcentered">
          {% for promocao in itens_comentados %}
          <div class="column">{{ media_promocao(promocao) }}</div>
          {% endfor %}
        </div>
      </div>
  </div>
</section>
{% endblock %}

