@media (max-width: 790px) {
    .promocoes-por-loja,
    .palavras-mais-usadas {
        display: none;
    }
}

.ct-bar {
    stroke-width: 60px;
}
.ct-label {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
}
